#### Git Ignore File
# General-purpose suggestions.
# Leave commented-out until needed.

Pods/

xcuserdata/
*.xcworkspace/xcuserdata/


# OSX-Generated
.DS_Store
#.localized

# Inter-commit local quick backups 
.localbackups

# Output/logfiles generated during development/testing
*.log

# Windows-Generated
#Thumbs.db
#ehthumbs.db
#Desktop.ini


#### IntelliJ IDEA
.venv/
venv/
.idea
*.iml
#*.iws


#### Eclipse
#.classpath
#.project
#.settings/


#### Maven
#log/
#target/


##
#

